.container {

text-align: start;
margin-left: 20px;
padding-top: 50px;
font-family: 'Times New Roman', Times, serif;
color: whitesmoke;

}

body {
  margin: 0;
  border: 0;
  padding: 50px;
  background-color: black; 
}